[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"

[dev-packages]
nose = "*"
rednose = "*"
pylint = "*"

[requires]
python_version = "3.6"
